*{
    box-sizing: border-box;
    --color1: #DAE1F1;
    --color2: #FFFFFF70;
    font-family: 'Segoe UI';
}
body{
    background-image: url(../assets/images/desktop-bg.jpg);
    background-size: cover;
}
.taskbar{
    height: 48px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--color1);
    border-top: gray solid 1px;
}

.select:hover{
    background-color: var(--color2);
    border-radius: 5px;
    user-select: none;
}

i{
    line-height: 40px;
    margin: 0 0.2rem;
}

.timedate{
    font-size: small;
    width: fit-content;
    text-align: right;
    margin-right: 0.8rem;
    padding: 0 0.5rem;
}
.extra{
    width: 30%;
}
.searchbar{
    border-radius: 20px;
    font-size: 0.6rem;
}
.icon{
    height: 100%;
    user-select: none;
}
.cv-container{
    opacity: 0;
    position: fixed;
    left: 20vw;
    top: 5vh;
    width: 60vw;
    height: 80vh;
    background: var(--color1);
    border-radius: 15px;
    transform: translateY(150%);
    transition: all 0.4s ease;
}
.popped{
    transform: translateY(0%);
    opacity: 1;
}
